<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyj.admin.system.mapper.SysUserOnlineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyj.admin.system.domain.SysUserOnline">
        <id column="sessionId" property="sessionId" />
        <result column="login_name" property="loginName" />
        <result column="dept_name" property="deptName" />
        <result column="ipaddr" property="ipaddr" />
        <result column="login_location" property="loginLocation" />
        <result column="browser" property="browser" />
        <result column="os" property="os" />
        <result column="status" property="status" />
        <result column="start_timestamp" property="startTimestamp" />
        <result column="last_access_time" property="lastAccessTime" />
        <result column="expire_time" property="expireTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sessionId, login_name, dept_name, ipaddr, login_location, browser, os, status, start_timestamp, last_access_time, expire_time
    </sql>

</mapper>
